@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

/* FORCE CENTER EVERYTHING */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3f405c;
  color: #e5e7eb;
  font-family: Inter, system-ui, sans-serif;
}
